.footer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 1em;
    background: whitesmoke;
    width: 87vw;
    border-radius: 5px;

    &-table {
        width: 100%;

        &-thead {

            &-tr {
                font-family: monospace;
                display: flex;
            }

            &-th {
                border: 1px double gray;
                border-radius: 3px;
                width: 100%;
            }

            &-td {
                border: 1px double gray;
                border-radius: 3px;
                width: 100%;
            }
        }
    }
}