.home {
    &-background {
        width: 80vw;
        height: 80vh;
        background: blueviolet;
        border: 0 solid;
        border-radius: 10px;

        .home-dashboard {
            display: grid;
            height: 100%;
            width: 100%;

            &-itens {
                cursor: auto;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                margin: 1em;
                border-radius: 10px;
                background: white;
                &:hover {
                    background: whitesmoke;
                }
                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: xx-large;
                    height: 80%;
                    width: 80%;
                    border-radius: 10px;
                    opacity: 50%;
                }
            }
        }
    }
}